.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
 
}

h1 {
  background-color: #e45219;
  border: dotted #c5cf07;
  color: #fffcfa;
    box-shadow: 2px 2px 7px 1px #050f15;
  text-shadow: 1px 2px 2px #520351;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.mealOfTheDay {
  height: 150px;
  width: 150px;
}

.navBar {
  display: grid;
  gap: 1rem;
  grid-template-columns: 30% 25% 30%;
  background-image: url(https://media.istockphoto.com/photos/classic-linen-tablecloth-texture-picture-id177509373?k=20&m=177509373&s=612x612&w=0&h=o_3EReGdYE_Uljfh0z1_vmmD30ljQXhoiaDWOzJQPiM=);
  background-size: cover;
  padding: 18px;


}

.home {
  padding-top: 11%;
}
.navBar>a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  background-color: aqua;
  text-align: center;
  
}

.description{
  background-color:blanchedalmond;
  color:coral;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.dailyMeal{
  padding: 30px;
  border: ridge #ae1700;
  background-image: url(https://m.media-amazon.com/images/I/41chfVU8fKS._AC_SX425_.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 60px;
  word-wrap: break-word;
  color: gold;
  max-width: fit-content;
  max-height: fit-content;
}

.card {
  border: ridge #ae1700;
  background-image: url(https://m.media-amazon.com/images/I/41chfVU8fKS._AC_SX425_.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  width: 650px;

}

.commentbtn{
  position: relative;
  right: 135px;
  top: 30px;
  
}

.image{
  
  align-items: center;
  top: 10px;
  height: 150px;
  width: 150px;
}

.cardImage{
  height: 200px;
  width: 200px;
}

.cardComments {
  max-width: 150px;
  padding: 25px;
}

.searchBar{
  text-align: center;
}